<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!--Preloader area Start-->
<div id="preloader">
    <div id="status" class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--Preloader area End-->

<!--Header area start here-->
<header id="sticky">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-4">
                <div class="logo-area">
                    <a href="index-2.html"><img src="assets/images/logo/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-8">
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a href="http://localhost:4200/hc">Home</a></li>
                            <li>
                                <a href="http://localhost:4200/jc">Jobs</a>

                            </li>
                            <li>
                                <a href="http://localhost:4200/sc">Servise</a>

                            </li>



                            <li class="users"><a href="http://localhost:4200/postc"><button type="button"
                                        class="sign_up" data-toggle="modal" data-target="#exampleModalCenter"><i
                                            class="flaticon-add-user"></i>Post a git
                                        Up</button></a></li>


                            <li class="users"><a href="#"><button type="button" class="sign_up" data-toggle="modal"
                                        data-target="#exampleModalCenter"><i class="flaticon-add-user"></i>My space
                                    </button></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!--Responsive Menu area-->
    <div class="mobilemenu">
        <div class="mobile-menu  hidden-md-up">
            <nav>
                <ul>
                    <li><a href="index-2.html">Home</a></li>
                    <li>
                        <a href="javascript:void(0)">Jobs</a>
                        <ul>
                            <li><a href="jobs.html">Jobs</a></li>
                            <li><a href="jobs-details.html">Jobs Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Recruiters</a>
                        <ul>
                            <li><a href="recruiters.html">Recruiters</a></li>
                            <li><a href="recruiters-details.html">Recruiters Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Candidates</a>
                        <ul>
                            <li><a href="candidates.html">Candidates</a></li>
                            <li><a href="candidates-details.html">Candidates Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Blog</a>
                        <ul>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--Responsive Menu area End-->
</header>
<!--Header area end here-->
<!-- Modal -->

<!-- Modal End-->
<!--Breadcumb title area Start here-->
<section class="breadcumb-title bg-img jarallax af">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="breadcumbs">
                    <h2>Publish An Offre</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Breadcumb title area end here-->
<!--Breadcumb area Start here-->
<div class="breadcumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="breadcumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcumb area End here-->
<!--Contact area start here-->
<section class="contact-area section4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="contact-form">
                    <h2>FILL IN THE FIELDS</h2>
                    <form #j="ngForm" (ngSubmit)="add(j)">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm">
                                    <input type="text" placeholder="Tittle*" name="title" ngModel #u="ngModel">
                                </div>


                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm">
                                    <textarea ngModel #w="ngModel" name="des" placeholder="Description*"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm">
                                    <input type="text" name="adress" placeholder="Adress*" ngModel #p="ngModel">
                                </div>
                                <div class="col-sm">
                                    <input type="text" name="tel" placeholder="Telephone*" ngModel #s="ngModel">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">

                                <select class="form-select" name="categ" aria-label="Default select example" ngModel
                                    #t="ngModel">

                                    <option value="Mechanical">Mechanical</option>
                                    <option value="Computing">Computing</option>
                                    <option selected value="Humaine ressource">Humaine ressource</option>

                                    <option value="Accouting">Accouting</option>
                                    <option value="Administration">Administration</option>
                                    <option value="Automobile">Automobile</option>

                                    <option value="Finance">Finance</option>
                                    <option value="Marketing">Marketing</option>

                                </select>
                                <div class=" a alert alert-danger" *ngIf='gg'>
                                    Fill in the required fields
                                </div>
                            </div>
                        </fieldset>

                        <div class="row">
                            <div class="col-sm">
                                <button class="btn1"> Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="cont-con">
                    <h2>Contact Info</h2>
                    <div class="widghet_contact">
                        <div class="featureds">
                            <div class="cons">
                                <p>Ducimus qui blanditiis praesentium voluptatum deleniti atque corrupt</p>
                            </div>
                            <div class="list-arc">
                                <span class="ico"><i class="flaticon-calendar"></i></span>
                                <div class="con">
                                    <h4>1457/784, My Street, Kingston, New York</h4>
                                </div>
                            </div>
                            <div class="list-arc">
                                <span class="ico"><i class="flaticon-maps-and-flags"></i></span>
                                <div class="con">
                                    <h4>(+1) 369-258-147<br>(+1) 369-258-147</h4>
                                </div>
                            </div>
                            <div class="list-arc">
                                <span class="ico"><i class="flaticon-money-bag-with-dollar-symbol"></i></span>
                                <div class="con">
                                    <h4>info@demoemail.com<br>help@demoemail.com</h4>
                                </div>
                            </div>
                            <div class="list-arc">
                                <span class="ico"><i class="flaticon-four-black-squares"></i></span>
                                <div class="con">
                                    <h4>(800) 123 4567 89<br>(800) 123 4567 89</h4>
                                </div>
                            </div>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact area End here-->
<!--Map start here-->
<div class="g-maps">
    <div class="container-fluid">
        <div class="row">
            <div class="col pd-0">
                <div class="maps">
                    <div id="map" class="map-full">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13004080.414077152!2d-104.65693512785852!3d37.27559283318413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1530855407925"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Map End here-->
<!--Subscribe area start here-->
<section class="subscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row mr-0">
                    <div class="col-md-12 col-xl-6 col-sm-12">
                        <div class="sub_con">
                            <span><img src="assets/images/icons/3.png" alt="" /></span>
                            <div class="con">
                                <h3>Get Jobs Notifications</h3>
                                <p>Free Subscribe Our Newsletter Now!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-6 col-sm-12">
                        <div class="sub_form">
                            <form>
                                <input type="email" placeholder="Type Your Email Address">
                                <input class="btn1" type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Subscribe area End here-->
<!--Footer area start here-->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="foo-about">
                        <h3>Who we are</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt enim lectus, in
                            rhoncus mauris maximus id. Donec at porttitor arcu. Fusce a nunc facilisis, lacinia diam
                            non, rhoncus turpis. Sed viverra</p>
                        <a href="#" class="link">READ MORE</a>
                        <ul class="social_link">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="foo_link">
                                <h3>For Candidates</h3>
                                <ul>
                                    <li><a href="#">All Jobs</a></li>
                                    <li><a href="#">All Categories</a></li>
                                    <li><a href="#">Companies</a></li>
                                    <li><a href="#">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="foo_link">
                                <h3>For Employers</h3>
                                <ul>
                                    <li><a href="#">All Resums</a></li>
                                    <li><a href="#">All Categories</a></li>
                                    <li><a href="#">All Jobs</a></li>
                                    <li><a href="#">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="foo_link mr-b0">
                                <h3>Information</h3>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="copyright">
                        <p>© Copyright - Praca Cerja. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>