.btn {
    width: 100%;
}

.g {
    padding-right: 10%;
}

.a {
    width: 26.5%;
    margin-left: 36.9%;
    padding-left: 7.5%;
}

.b {
    width: 26.5%;
    margin-left: 36.9%;
    padding-left: 10%;
}

.body {
    background-color: #121029;
}

.container-login100 {
    height: 710px;
}