.container-login100 {
    height: 700px;
}

.a {
    width: 23.5%;
    margin-left: 38.3%;
    padding-left: 6.5%;
}

.b {
    width: 23.5%;
    margin-left: 38.3%;
    padding-left: 8%;
    margin-bottom: 300px;
}