<div id="preloader">
    <div id="status" class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--Preloader area End-->

<!--Header area start here-->
<header id="sticky">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-4">
                <div class="logo-area">
                    <a href="index-2.html"><img src="assets/images/logo/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-8">
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a href="http://localhost:4200/hc">Home</a></li>
                            <li>
                                <a href="http://localhost:4200/jc">Jobs</a>

                            </li>
                            <li>
                                <a class="active" href="http://localhost:4200/sc">Servise</a>

                            </li>





                            <li class="users"><a href="http://localhost:4200/postc"><button type="button"
                                        class="sign_up" data-toggle="modal" data-target="#exampleModalCenter"><i
                                            class="flaticon-add-user"></i>Post a git
                                        Up</button></a></li>


                            <li class="users"><a href="#"><button type="button" class="sign_up" data-toggle="modal"
                                        data-target="#exampleModalCenter"><i class="flaticon-add-user"></i>My space
                                    </button></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!--Responsive Menu area-->
    <div class="mobilemenu">
        <div class="mobile-menu  hidden-md-up">
            <nav>
                <ul>
                    <li><a href="index-2.html">Home</a></li>
                    <li>
                        <a href="javascript:void(0)">Jobs</a>
                        <ul>
                            <li><a href="jobs.html">Jobs</a></li>
                            <li><a href="jobs-details.html">Jobs Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Recruiters</a>
                        <ul>
                            <li><a href="recruiters.html">Recruiters</a></li>
                            <li><a href="recruiters-details.html">Recruiters Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Candidates</a>
                        <ul>
                            <li><a href="candidates.html">Candidates</a></li>
                            <li><a href="candidates-details.html">Candidates Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Blog</a>
                        <ul>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--Responsive Menu area End-->
</header>
<!--Header area end here-->
<!-- Modal -->

<!-- Modal End-->
<!--Job searcing area start here-->
<div class="job-searcing-inner af jarallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="search-con">
                    <div class="row">
                        <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1">
                            <form>
                                <div class="row mr-0">
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                        <fieldset>
                                            <input type="search" placeholder="What are you looking for ?">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                                        <fieldset>
                                            <select class="wide">
                                                <option>All Regions</option>
                                                <option>Regions</option>
                                                <option>Regions</option>
                                                <option>Regions</option>
                                                <option>Regions</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                                        <fieldset>
                                            <select class="wide">
                                                <option>All Categories</option>
                                                <option>Web Programing</option>
                                                <option>Education</option>
                                                <option>Art & Media</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-12 col-12">
                                        <fieldset>
                                            <button class="btn1">Search</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-10 col-sm-12 offset-lg-1">
                            <div class="keyword">
                                <p>Trending Keywords :</p>
                                <ul>
                                    <li><a href="#">Developer</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Medical</a></li>
                                    <li><a href="#">Jobs</a></li>
                                    <li><a href="#">Media</a></li>
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Web Developer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Job searcing area End here-->
<!--Breadcumb area Start here-->
<div class="breadcumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="breadcumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        <li><a href="#">Jobs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcumb area End here-->
<!--Jobs area start here-->
<section class="jobs-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="sidebear">
                    <div class="wighet">
                        <h3>JOBS BY Categories</h3>
                        <form #j="ngForm" (ngSubmit)="add(j)">
                            <ul>
                                <li *ngFor="let option of radioOptions">

                                    <p> {{ option }}
                                        <span><input type="radio" name="radioGroup" [(ngModel)]="selectedOption"
                                                [value]="option"></span>
                                    </p>


                                </li>
                                <button class=" b btn1">Filtred</button>
                            </ul>
                        </form>

                    </div>



                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">

                <div class="clearfix"></div>
                <div class="jobslist section4">
                    <div *ngFor="let n of k" class="items">

                        <div class="right-con">
                            <figure><img src="assets/images/icons/12.png" alt=""></figure>

                        </div>
                        <div class="content">
                            <h3>{{n.title}}<button><i class="fa fa-heart"></i></button></h3>
                            <p>{{n.date}}</p>
                            <ul class="tlist">
                                <li><span class="ico"><i class="flaticon-briefcase-frontal-view"></i></span><span
                                        class="con">{{n.name}}</span></li>
                                <li><span class="ico"><i class="flaticon-four-black-squares"></i></span><span
                                        class="con">{{n.tel}}</span></li>
                                <li><span class="ico"><i class="flaticon-calendar"></i></span><span class="con">$
                                        {{n.email}}</span></li>


                            </ul>
                            <ul class="blist">
                                <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                        class="con">{{n.adress}}</span></li>
                            </ul>
                        </div>

                    </div>




                    <div class="load-btn text-center mr-t50">
                        <a href="#" class="btn1">Load More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Jobs area End here-->
<!--Subscribe area start here-->
<section class="subscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row mr-0">
                    <div class="col-md-12 col-xl-6 col-sm-12">
                        <div class="sub_con">
                            <span><img src="assets/images/icons/3.png" alt="" /></span>
                            <div class="con">
                                <h3>Get Jobs Notifications</h3>
                                <p>Free Subscribe Our Newsletter Now!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-6 col-sm-12">
                        <div class="sub_form">
                            <form>
                                <input type="email" placeholder="Type Your Email Address">
                                <input class="btn1" type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Subscribe area End here-->
<!--Footer area start here-->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="foo-about">
                        <h3>Who we are</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt enim lectus, in
                            rhoncus mauris maximus id. Donec at porttitor arcu. Fusce a nunc facilisis, lacinia diam
                            non, rhoncus turpis. Sed viverra</p>
                        <a href="#" class="link">READ MORE</a>
                        <ul class="social_link">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="foo_link">
                                <h3>For Candidates</h3>
                                <ul>
                                    <li><a href="#">All Jobs</a></li>
                                    <li><a href="#">All Categories</a></li>
                                    <li><a href="#">Companies</a></li>
                                    <li><a href="#">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="foo_link">
                                <h3>For Employers</h3>
                                <ul>
                                    <li><a href="#">All Resums</a></li>
                                    <li><a href="#">All Categories</a></li>
                                    <li><a href="#">All Jobs</a></li>
                                    <li><a href="#">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="foo_link mr-b0">
                                <h3>Information</h3>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="copyright">
                        <p>© Copyright - Praca Cerja. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>